{
  "presets": [
    "stage-3",
    "latest",
    "es2015",
    "env"
  ],
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}