{
  "presets": [
    "@babel/typescript",
    [
      "@babel/env",
      {
        "targets": "> 0.25%, not dead"
      }
    ],
    "power-assert"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-proposal-decorators",
      {
        "decoratorsBeforeExport": true
      }
    ],
    "@babel/proposal-class-properties"
  ]
}